* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.highlight {
  color: #e53170 !important;
}

.primary-btn {
  color: #fffffe;
  background-color: #ff8906;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #ff8906;
}
.primary-btn:hover {
  color: #ff8906;
  background-color: #fffffe;
  border: 2px solid #ff8906;
}

.secondary-btn {
  color: #fffffe;
  background-color: #f25f4c;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #f25f4c;
}
.secondary-btn:hover {
  color: #f25f4c;
  background-color: #fffffe;
  border: 2px solid #f25f4c;
}

.tertiary-btn {
  color: #fffffe;
  background-color: #e53170;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #e53170;
}
.tertiary-btn:hover {
  color: #e53170;
  background-color: #fffffe;
  border: 2px solid #e53170;
}

.outline-btn-primary {
  color: #ff8906;
  border: 2px solid #ff8906;
  border-radius: 5px;
  padding: 0.5em;
  text-decoration: none;
}
.outline-btn-primary:hover {
  color: #fffffe;
  background-color: #ff8906;
}

.outline-btn-secondary {
  color: #f25f4c;
  border: 2px solid #f25f4c;
  border-radius: 5px;
  padding: 0.5em;
  text-decoration: none;
}
.outline-btn-secondary:hover {
  color: #fffffe;
  background-color: #f25f4c;
}

.header {
  background-color: #0f0e17;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #a7a9be;
}
.header__navbar__logo {
  margin: 0.5em;
}
.header__navbar__nav__ul {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 auto;
}
.header__navbar__nav__ul__item {
  margin-right: 2em;
  list-style: none;
}
.header__navbar__nav__ul__item a {
  text-decoration: none;
  color: #fffffe;
}

.hero {
  background-color: #0f0e17;
  padding: 2em;
}
.hero__brand {
  color: #ff8906;
}
.hero__text__title {
  color: #fffffe;
}
.hero__text__description {
  color: #fffffe;
  margin-top: 1.5em;
}
.hero__buttons {
  margin-top: 1.5em;
}

.about {
  padding: 2em;
}
.about__card {
  background-color: #0f0e17;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  background: #0f0e17;
  border-radius: 16px;
  box-shadow: 0 4px 30px black;
  border: 5px solid #ff8906;
}
.about__card h2 {
  color: #a7a9be;
}
.about__card h3 {
  color: #e53170;
}

.top {
  background-color: #0f0e17;
  padding: 2em;
}
.top__title {
  text-align: center;
  text-transform: uppercase;
  color: #a7a9be;
  margin-bottom: 2em;
}
.top__card {
  background-color: #0f0e17;
}
.top__card .project-card {
  padding-bottom: 30px;
}
.top__card .project-card h3 {
  font-size: large;
  background-color: #a7a9be;
  border: 2px solid #ff8906;
  border-bottom: 0ch;
  text-align: center;
  margin: 0;
  padding: 5px;
}
.top__card .project-card__img {
  margin: 0;
  border-left: 2px solid #ff8906;
  border-right: 2px solid #ff8906;
}
.top__card .project-card__img img {
  width: 100%;
}
.top__card .project-card__body {
  background-color: #a7a9be;
  border: 2px solid #ff8906;
  border-top: none;
  text-align: center;
}
.top__card .project-card__body__btn {
  display: block;
  margin: 1em;
}

.project-card {
  padding-bottom: 30px;
}
.project-card h3 {
  font-size: large;
  background-color: #a7a9be;
  border: 2px solid #ff8906;
  border-bottom: 0ch;
  text-align: center;
  margin: 0;
  padding: 5px;
}
.project-card__img {
  margin: 0;
  border-left: 2px solid #ff8906;
  border-right: 2px solid #ff8906;
}
.project-card__img img {
  width: 100%;
}
.project-card__body {
  background-color: #a7a9be;
  border: 2px solid #ff8906;
  border-top: none;
  text-align: center;
}
.project-card__body__btn {
  display: block;
  margin: 1em;
}

.htf {
  background-color: #a7a9be;
}
.htf__steps {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.htf__steps img {
  margin: 0 auto;
  max-width: 20vh;
}
.htf__video {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.htf__video iframe {
  margin: 0 auto;
}

.footer {
  background-color: #0f0e17;
}
.footer__social-media {
  display: flex;
  justify-content: space-around;
  padding: 2em 1em;
}

/*# sourceMappingURL=style.css.map */
