.about {
    padding: 2em;
    &__title {
        @include titles($color-bg)
    }
    &__card {
        background-color: $color-bg;
        margin: 2em 0;
        @include blur-card;
        h2 {
            color: $color-p;
            font-family: $font2;
        }
        h3 {
            font-family: $font1;
            color: $color-tertiary;
        }
        @media (max-width: $breakpoint-sm) {
            margin: 2em auto;
            width: 90% !important;
        }
    }
}