.project-card {
    padding-bottom: 30px;
    h3 {
        font-family: $font1;
        font-size: large;
        text-transform: uppercase;
        background-color: $color-p;
        border: 2px solid $color-primary;
        border-bottom: 0ch;
        text-align: center;
        margin: 0;
        padding: 5px;
    }
    &__img {
        margin: 0;
        border-left: 2px solid $color-primary;
        border-right: 2px solid $color-primary;
        img {
            width: 100%;
        }
    }
    &__body {
        background-color: $color-p;
        border: 2px solid $color-primary;
        border-top: none;
        text-align: start;
        padding: 1em;
        p {
            font-family: $font2;
        }
        &__btn {
            display: block;
            margin: 1em;
            text-align: center;
            @include btn($color-headlines,$color-primary)
        }
    }
}