.footer {
    background-color: $color-bg;
    &__social-media {
        display: flex;
        justify-content: space-around;
        padding: 2em 1em;
        a img {
            @media (max-width: $breakpoint-sm) {
                width: 100px;
            }
        }
    }
}