.header {
    background-color: $color-bg;
    position: sticky;
    top: 0;
    &__navbar {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $color-p;
        
        &__logo {
            margin: 0.5em;
            img {
                border-radius: 15px;
            }
        }
        &__nav {
            &__ul {
                display: flex;
                flex-direction: row;
                margin: 0 0 0 auto;

                &__item {
                    margin-right: 2em;
                    list-style: none;
                    
                    a {
                        font-family: $font1;
                        text-decoration: none;
                        color: $color-text-btn;
                    }
                }
            }
        }
    }
}