.htf {
    background-color: $color-p;
    &__steps {
        display: flex;
        flex-direction: column;
        text-align: center;
        p {
            font-family: $font1;
            margin-top: 2em;
        }
        img {
            margin: 0 auto;
            max-width: 20vh;
        }
    }
    &__video {
        padding: 2em 1em;
        display: flex;
        flex-direction: column;
        text-align: center;
        p {
            font-family: $font1;
        }
        iframe {
            margin: 0 auto;
        }
    }
}