.top {
    background-color: $color-bg;
    padding: 2em;
    &__title {
        text-align: center;
        text-transform: uppercase;
        color: $color-p;
        margin-bottom: 2em;
    }
    &__card {
        background-color: $color-bg;
        @import 'card';
        }
}