* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
   }
   
   // COLOR PALLETTE
   $color-bg: #0f0e17;
   $color-btn: #ff8906;
   $color-headlines: #fffffe;
   $color-text-btn: #fffffe;
   $color-p: #a7a9be;
   $color-secondary: #f25f4c;
   $color-main: #fffffe;
   $color-tertiary: #e53170;
   $color-primary: #ff8906;

   
   //  FONT
    $font1: 'Lato', sans-serif;
    $font2: 'Oswald', sans-serif;

   @mixin blur-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    background: $color-bg;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    border: 5px solid $color-primary;
}

    @mixin titles($fontColor) {
        text-align: center;
        text-transform: uppercase;
        color: $fontColor;
        font-family: $font1;
    }

    @mixin btn($primaryColor,$secondaryColor) {
    color: $primaryColor;
    background-color: $secondaryColor;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid $secondaryColor;
    font-family: $font1;
    &:hover {
        color: $secondaryColor;
        background-color: $primaryColor;
        border: 2px solid $secondaryColor;
        }
    }
   
    @mixin outline-btn($primaryColor,$secondaryColor) {
        color: $primaryColor;
        border: 2px solid $primaryColor;
        border-radius: 5px;
        padding: 0.5em;
        text-decoration: none;
        font-family: $font1;
        &:hover {
            color: $secondaryColor;
            background-color: $primaryColor;
        }
    }


    .highlight {
        color: $color-tertiary !important;
    }